.home-page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .dates-wrapper {
    font-size: 1.2em;
    font-family: serif;
    font-weight: 700;
    color: $paynes-gray;
  }

  .cards-container {
    height: 100%;
    width: 70%;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
