.navbar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar-wrapper {
    height: 150px;
    width: 100%;
    color: $paynes-gray;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(100, 104, 130, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-navbar {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .h1-wrapper {
        height: 30px;
        width: 150px;
        margin-top: 10px;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid $vivid-gerulean;

        h1 {
          font-size: 1.3em;
          font-weight: 600;
          font-family: sans-serif;
        }
      }
    }

    .bottom-navbar {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right-side {
        height: 200px;
        width: 50%;
        margin-left: 30px;

        .logo-wrapper {
          img {
            width: 130px;
          }
        }
      }

      .left-side {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .links-wrapper {
          height: 40px;
          width: 70%;
          border-left: 3px solid $vivid-gerulean;
          border-right: 3px solid $vivid-gerulean;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .link-wrapper {
            width: 150px;
            display: flex;
            justify-content: center;

            a {
              cursor: pointer;
              color: $paynes-gray;
              font-size: 1.3em;
              font-weight: 700;
              font-family: sans-serif;
              text-decoration: none;
              transition: 0.5s ease-in-out;

              &:hover {
                color: $onyx;
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
  }

  .footer-wrapper {
    height: 150px;
    width: 100%;
    box-shadow: 0px -5px 15px 0px rgba(100, 104, 130, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .links-wrapper {
      height: 40px;
      width: 40%;
      border-left: 3px solid $vivid-gerulean;
      border-right: 3px solid $vivid-gerulean;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .link-wrapper {
        width: 150px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          cursor: pointer;
          font-size: 1.3em;
          font-weight: 700;
          font-family: sans-serif;
          color: $paynes-gray;
          text-decoration: none;
          transition: 0.5s ease-in-out;

          &:hover {
            color: $onyx;
            letter-spacing: 2px;
          }
        }
      }
    }

    .copyright-wrapper {
      height: 40px;
      width: 30%;
      margin-bottom: 10px;
      border: 1px solid rgba(100, 104, 130, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 1.3em;
        font-weight: 600;
        font-family: sans-serif;
        color: $paynes-gray;
      }
    }
  }
}
